/* the overlayed element */
.simple_overlay{
z-index:10000;
}
.simple_overlay{
	
	/* must be initially hidden */
	display:none;
	
	/* styling */
	width:320px;
}
#login-form.simple_overlay{
	width:308px;
}
.simple_overlay .light-checkout-popup-content-bg-in{
	min-height:155px;
	_height:155px;
}
#terms-block.simple_overlay{
	width:400px;
	height:250px;
}
#terms-block.simple_overlay .details{
	height:100%;
}
#terms-block.simple_overlay .popup-content{
	overflow:auto;
	height:100%;
	
}
#login-form .loadinfo {
	position:static;
	border:0;
	background-position:0 50%;
	padding:5px 5px 5px 35px;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

/* close button positioned on upper right corner */
.simple_overlay .close {
	background-image:url(../../../images/gomage/lightcheckout/buttons/orange/close.png);
	position:absolute;
	right:-10px;
	top:-15px;
	cursor:pointer;
	height:35px;
	width:35px;
}

/* Overlay colors */
.gomage-checkout-button-skin-round-black.gomage-checkout-popup-skin-default .close{
	background-image:url(../../../images/gomage/lightcheckout/buttons/black/close.png);
}
.gomage-checkout-button-skin-round-blue.gomage-checkout-popup-skin-default .close{
	background-image:url(../../../images/gomage/lightcheckout/buttons/blue/close.png);
}
.gomage-checkout-button-skin-round-green.gomage-checkout-popup-skin-default .close{
	background-image:url(../../../images/gomage/lightcheckout/buttons/green/close.png);
}
.gomage-checkout-button-skin-round-gray.gomage-checkout-popup-skin-default .close{
	background-image:url(../../../images/gomage/lightcheckout/buttons/grey/close.png);
}
.gomage-checkout-button-skin-round-red.gomage-checkout-popup-skin-default .close{
	background-image:url(../../../images/gomage/lightcheckout/buttons/red/close.png);
}


/* Overlay colors END */